@model  ML.Persona
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetAll</h2>

<div class="row" style="text-align:right;">
    <div class="col-md-12">
        <a href="@Url.Action("Form", "Persona")" class="btn btn-outline-success btn-s ">Agregar</a>
    </div>
</div>

<br />
<div class="container">
    <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <td></td>
                <td>IdPersona</td>
                <td>Nombre</td>
                <td>ApellidoPaterno</td>
                <td>ApellidoMaterno</td>
                <td>FechaNacimiento</td>
                <td>PaisOrigen</td>
                <td>Sexo</td>
                <td>CURP</td>
                <td>RFC</td>
                <td>Ocupacion</td>
                <td>TipoPersonaFisica</td>
                <td></td>
            </tr>
        </thead>
        <tbody>

            @foreach (ML.Persona persona in Model.PersonaList)
            {
                <tr>
                    <th>
                        <a class="btn btn-secondary" style="background-color: #FFFFFF;" href="@Url.Action("Form", "Persona" , new { idPersona = persona.IdPersona}) "> <img src="~/Controllers/Img/editar.png" alt="Editar" style="width: 30px; height: 30px;" /></a>
                    </th>
                    <th>@persona.IdPersona</th>
                    <th>@persona.Nombre</th>
                    <th>@persona.ApellidoPaterno</th>
                    <th>@persona.ApellidoMaterno</th>
                    <th>@persona.FechaNacimineto</th>
                    <th>@persona.PaisOrigen</th>
                    <th>@persona.Sexo</th>
                    <th>@persona.CURP</th>
                    <th>@persona.RFC</th>
                    <th>@persona.Ocupacion</th>
                    <th>@persona.TipoPersonaFisica</th>

                    <th>
                        <a class="btn btn-primary" style="background-color: #FFFFFF;" onclick="return confirm('¿Estás seguro de que deseas eliminar esta registro?');"
                           href="@Url.Action("Delete", "Persona", new { idPersona = persona.IdPersona})"><img src="~/Controllers/Img/eliminar.png" alt="Eliminar" style="width: 30px; height: 30px;" /></a>
                    </th>

               
                </tr>
            }
        </tbody>
    </table>
</div>
